body {
  background-image: url(img/BG/—Pngtree—white\ 3d\ paper\ style\ background_1300812.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 10px;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .navbar-brand {
  padding-left: 30px;
  font-weight: bold;
  animation: movedown 1s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.collapse ul li a {
  padding-right: 50px;
  margin-right: 15pt;
  font-weight: bold;
}

.collapse ul.navbar-nav li.nav-item1 {
  animation: movedown 1s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item2 {
  animation: movedown 1s linear 1;
  animation-delay: 2.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item3 {
  animation: movedown 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item4 {
  animation: movedown 1s linear 1;
  animation-delay: 3.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#Project {
  background-color: #ffffff5b;
}

section {
  padding-top: 4rem;
}

svg {
  padding-bottom: -5rem;
}

footer {
  padding-bottom: 1rem;
  margin-top: -1px;
}

.jumbotron img {
  animation: zoomin 1s linear 1;
  animation-delay: 3.8s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
.jumbotron h1 {
  animation: zoomin 1s linear 1;
  animation-delay: 4.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.jumbotron p {
  animation: zoomin 1s linear 1;
  animation-delay: 5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.jumbotron h1 strong {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder bold;
  margin-top: 4pt;
  font-size: 80px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #363636;
  background: url(img/back.png);
  background-color: #0d6dfdd3;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.container h2 {
  margin-top: 8px;
  border-bottom: #000000;
  border-bottom-style: double;
  border-bottom-width: medium;
  color: transparent;
  -webkit-text-stroke: 1px #000000a6;
  text-shadow: 4px 4px 4px #646464;
  animation: zoomin 2s linear forwards;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.container label {
  color: #000000;
}

/* .container .row p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder bold;
  margin-top: 4pt;
} */
.container .row p .aboutme {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 4pt;
  text-align: justify;
  /* text-align-last: justify; */
}

.sosmedwa button {
  border-style: none;
  border-color: transparent;
  border-radius: 60px;
  margin-bottom: 25px;
  margin-right: 25px;
  float: right;
}
.sosmedwa button img {
  width: 100px;
  height: 100px;
  margin: 0px;
  margin-right: -26px;
  margin-left: -26px;
  margin-top: -26px;
  margin-bottom: -26px;
}
