body {
  background-image: url(img/img1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 5rem;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Project {
  background-color: #ffffff5b;
}

section {
  padding-top: 4rem;
}

svg {
  padding-bottom: -5rem;
}

footer {
  padding-bottom: 1rem;
  margin-top: -1px;
}

.jumbotron h1 strong {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder bold;
  margin-top: 4pt;
  font-size: 80px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  background: url(img/back.png);
  background-color: #0d6efd;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.container h2 {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 4px 4px 4px #000000;
}

.container label {
  color: #ffffff;
}
