body {
  background-image: url(img/img1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: -5rem;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .navbar-brand {
  padding-left: 30px;
  font-weight: bold;
  animation: movedown 1s linear 1;
  animation-delay: 1.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

.collapse ul li a {
  padding-right: 50px;
  margin-right: 15pt;
  font-weight: bold;
}

.collapse ul.navbar-nav li.nav-item1 {
  animation: movedown 1s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item2 {
  animation: movedown 1s linear 1;
  animation-delay: 2.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item3 {
  animation: movedown 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
.collapse ul.navbar-nav li.nav-item4 {
  animation: movedown 1s linear 1;
  animation-delay: 3.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

#Project {
  background-color: #ffffff5b;
}

section {
  padding-top: 4rem;
}

svg {
  padding-bottom: -5rem;
}

footer {
  padding-bottom: 1rem;
  margin-top: -1px;
}

.jumbotron img {
  animation: zoomin 1s linear 1;
  animation-delay: 3.8s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
.jumbotron h1 {
  animation: zoomin 1s linear 1;
  animation-delay: 4.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.jumbotron p {
  animation: zoomin 1s linear 1;
  animation-delay: 5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.jumbotron h1 strong {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder bold;
  margin-top: 4pt;
  font-size: 80px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  background: url(img/back.png);
  background-color: #0d6efd;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.container h2 {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 4px 4px 4px #000000;
  animation: zoomin 1s linear 1;
  animation-delay: 5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.container label {
  color: #ffffff;
}
